.section2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5em;
}

.section2container {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ftext {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ftext h1 {
  text-align: center;
  font-weight: 600;
}

.ftext p {
  font-weight: 300;
  text-align: center;
  padding: 1em;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1em 0.5em;
}

.service img {
  margin-right: 1.5em;
  width: 50px;
}

.service h2 {
  font-size: 1.1em;
  font-weight: 500;
  padding: 0.5em 0;
  color: #777;
}

.service p {
  font-weight: 300;
  color: #999;
  font-size: 1em;
}

@media screen and (max-width: 850px) {
  .service {
    width: 100%;
    max-width: 600px;
    padding: 0.5em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .service img {
    margin-top: 0.5em;
  }
}

@media screen and (max-width: 500px) {
  .service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .ftext h1 {
    font-size: 1.6em;
  }
  .ftext p {
    font-size: 0.9em;
  }
}

.section3 {
  width: 100%;
  background: #f5f5f5 url("../../img/dot.png") repeat center center;
}

.section3container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
  padding: 3em 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3left {
  max-width: 600px;
}

.section3left h1 {
  font-size: 1.6em;
  font-weight: 500;
}

.section3left p {
  font-weight: 300;
  padding: 0.5em 0;
}

.section3right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section3right input {
  outline: none;
  border-radius: 2px 0 0 2px;
  padding: 1em;
  width: 20em;
  border: 1px solid lightgray;
  border-right: none;
}

.section3right select {
  outline: none;
  padding: 0.5em 1em;
  width: 6.5em;
  border: 1px solid lightgray;
  border-right: none;
  font-weight: 300;
  cursor: pointer;
}

.section3right button {
  cursor: pointer;
  width: 7em;
  font-weight: 400;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 0 2px 2px 0;
  background: #4aaaac;
}

@media screen and (max-width: 1095px) {
  .section3left {
    max-width: 1000px;
    margin: 0.5em 0;
  }
}

@media screen and (max-width: 500px) {
  .section3right {
    width: 100%;
  }
  .section3right input {
    width: 10em;
    padding: 0.5em;
    font-size: 0.8em;
  }
  .section3right select {
    width: 6.2em;
  }
  .section3right button {
    width: 6em;
  }
}

@media screen and (max-width: 350px) {
  .section3right {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .section3right select {
    border: 1px solid lightgray;
  }
  .section3right button {
    margin-top: 1em;
    width: 6em;
    height: 2em;
  }
}
/*# sourceMappingURL=style2.css.map */